<div class="wp-block-column">
    <mat-card  class="custom-card" id="card4">
        <img mat-card-image src="{{cardData.CardImageUrl}}" >
      <mat-card-title class="custom-title">{{ cardData.CardTitle }}</mat-card-title>
      <mat-card-content>
        <p>
          {{ cardData.CardDescription }}
        </p>
      </mat-card-content>
      <mat-card-actions>
        <div class="button-container">
            <!-- <button mat-icon-button class="print-button" (click)="print('#card4')">
              <i class="fa fa-print" aria-hidden="true"></i>
            </button>
            <button mat-icon-button (click)="share('#card1')">
              <i class="fa fa-share" aria-hidden="true"></i>
            </button> -->
          </div>
      </mat-card-actions>
      <div >
        
      </div>
    </mat-card>
</div>