<div class="Content">
    <div class="row">
        <mat-form-field class="example-full-width">
            <mat-label>{{'ContentRender.Input1.Label' | translate }}</mat-label>
            <textarea matInput placeholder="{{'ContentRender.Input1.Placeholder' | translate }}" [(ngModel)]="input1Value" rows="6"></textarea>
        </mat-form-field>
    </div>
    <div class="right_area row">
        <button Class="btn" (click)="FilterData()">{{'ContentRender.Button' | translate }}</button>
    </div>
    <div>
        <mat-form-field class="example-full-width2 row">
            <mat-label>{{'ContentRender.Input2.Label' | translate }}</mat-label>
            <textarea matInput placeholder="{{'ContentRender.Input2.Placeholder' | translate }}" [(ngModel)]="input2Value" rows="6"></textarea>
        </mat-form-field>
    </div>
</div>

